<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script languague="javascript" type="text/javascript" src="../libraries/p5.min.js"></script>
    <script languague="javascript" type="text/javascript" src="../javascript/click.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
    <audio autoplay src="../src/sounds/ost.mp3"></audio>
</head>
<body>
    <main style="display: flex; justify-content: center;">

    </main>
</body>
</html>