<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../src/images/favicon.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="logo"><a href=""><img src="../src/logo_small.png" alt="" class="header-logo"></a></li>
                <li><a href="../pages/game.html">
                    <p>Juego</p>
                    <div class="underline"></div>
                </a></li>
                <li><a href="https://github.com/Grumnoeze/Trivia-Dungeon.git">
                    <p>Repositorio</p>
                    <div class="underline"></div>
                </a></li> 
            </ul>
            <ul class="account">
                <li><a href="../pages/game.html">
                    <span>jugar ahora</span>
                </a></li>
            </ul>
        </nav>
    </header>
    <main>
        kbrkjbrkbhr 
    </main>
    <footer>

    </footer>
</body>
</html>